<div class="p-3 text-center col-12">
  <a [routerLink]="''" class="col-12"><h1> Newspaper Group 1 </h1></a>
    <div id="logIn" *ngIf="!loginService.isLogged(); else logged">
        <form #loginForm="ngForm" class="text-center">
            <input class="form-control me-2" type="text" placeholder="Username" [(ngModel)]="user.username" #username='ngModel' name="username" required/>
            <input class="form-control me-2" type="password" placeholder="Password" [(ngModel)]="user.password" #password='ngModel' name="password" required/>
            <button class="btn btn-warning m-2" type="submit" (click)="login()">Login</button>
        </form>
    </div>

    <ng-template #logged>
        <div class="text-center col-12">
            <span class="px-2">Welcome {{loginService.getUser()?.username}}</span>
            <button class="btn btn-warning" type="submit" (click)="loginService.logout()">Sign out</button>
        </div>
    </ng-template>
</div>
<app-article-list></app-article-list>



 

  